@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary: #262837;
  --secondary: #1f1d2c;
  --green: #21b17d;
  --purple: #6a69e0;
  --orange: #fe8700;
  --pink: #b649c7;
  --red: #ed7374;
  --cyan: #28a084;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary);
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(3.7rem, 4vw, 5rem);
}

h2 {
  font-size: clamp(2.8rem, 3vw, 3.7rem);
}

h3 {
  font-size: 2.4rem;
}

h4,
a,
button,
input,
label {
  font-size: 1.8rem;
}

h4,
label {
  font-weight: 700;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Settings component */

.settings {
  background-color: var(--secondary);
  width: 100%;
  margin: 0 auto;
  max-width: 50rem;
  padding: 2rem 3rem;
}

.settings h3 {
  text-align: center;
  margin-bottom: 3rem;
}

.settings__group {
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}

.settings__group label,
h4 {
  display: block;
  margin-bottom: 1rem;
}

.settings__group input,
.settings__group svg {
  cursor: pointer;
}

.settings__group-size {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.settings__group-pair {
  color: var(--purple);
  border-bottom: 2px solid var(--purple);
}

.color-pair-input {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.color-pair {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.color-pair div {
  width: 2rem;
  height: 2rem;
}

.color-pair svg {
  margin-left: 2rem;
}

.settings__group-hover {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}

.settings__group-selected {
  color: var(--pink);
  border-bottom: 2px solid var(--pink);
}

.settings__group-text {
  color: var(--red);
  border-bottom: 2px solid var(--red);
}

.btn {
  background-color: var(--cyan);
  color: black;
  transition: all 0.3s linear;
  width: 100%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
}

.btn:hover {
  color: var(--cyan);
  background-color: black;
}

/* Chessboard Size */

.chessboard__grid {
  display: grid;
  margin-top: 3rem;
}
.chessboard__box {
  width: 100%;
  height: 20rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 3.4rem;
  transition: all 0.3s linear;
}

.chessboard__box span {
  position: relative;
  transform: translateY(50%);
  opacity: 0;
  transition: transform 0.3s linear;
}

.chessboard__box.selected span {
  opacity: 1;
  transform: translateY(0);
  font-size: 4rem;
}
.chessboard__box:hover {
  font-size: 4rem;
}

.chessboard__box:hover span {
  transform: translateY(0);
  opacity: 1;
}

.btn-group .btn {
  max-width: 40rem;
}

.modal {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
}

.chessboard__palette {
  position: relative;
  max-width: 40rem;
  background-color: var(--secondary);
  padding: 1rem 2rem;
}

.chessboard__palette h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.chessboard__palette .color-pair button {
  border: none;
  background-color: transparent;
  color: var(--cyan);
  cursor: pointer;
  transition: all 0.3s linear;
}

.chessboard__palette .color-pair button.active {
  color: rgb(216, 186, 18);
}

.chessboard__palette .color-pair button:hover {
  color: var(--pink);
}

.btn-toggle_palette {
  max-width: 40rem;
  color: white;
  font-weight: 700;
  background-color: var(--purple);
}

.btn-ghost {
  background-color: transparent;
  color: white;
  border: 2px solid var(--cyan);
}

.btn-ghost:hover {
  background-color: var(--cyan);
  color: black;
  border: 2px solid transparent;
}
